
$header-background: #333333;
$white-color: #fff;

$deep-blue: #336699; 
$light-blue: #bacada; 
$blue-highlight: #339999;

$deep-green: #669933; 
$light-green: #a0c57b; 

$deep-red: #cf4917; 
$light-red: #ed553b; 

$deep-orange: #ff9933; 
$light-orange: #ffb56b; 

$deep-brown: #eccb6d; 
$light-brown: #fbe39e; 
