
@import '../Index.scss';

.uploadDocumentationWrapper {
    .btn-active {
        background-color: $grey-navigation-color;
        color: $white-color;
    }
    .columnUpload {
        width: 33%;
        margin-top: 10px;
        button,
        label {
            width: 94%;
            display: block;
            margin: auto;
            padding: 4px;
        }
    }
    .imgPreview {
        padding: 4px;
        img {
            width: 100%;
            border-radius: 5px;
        }
    }
    #upload-photo-dni,
    #upload-photo-cv,
    #upload-photo-titulo,
    #upload-photo-seguro,
    #upload-photo-afip {
        width: 10px;
        opacity: 0;
        position: absolute;
        z-index: -1;
    }
}
