
@import './global/Vars.scss';
@import '../global/Fonts.scss';

body {
   margin: 0;
   padding: 0;
   font-family: avenirBook !important;
   background-color: $grey-body-background;
}

.container-computer {
   height: 800px !important;
}

.material-icons {
   font-family: 'Material Icons';
   font-weight: normal;
   font-style: normal;
   font-size: 24px;  /* Preferred icon size */
   display: inline-block;
   line-height: 1;
   text-transform: none;
   letter-spacing: normal;
   word-wrap: normal;
   white-space: nowrap;
   direction: ltr;
   /* Support for all WebKit browsers. */
   -webkit-font-smoothing: antialiased;
   /* Support for Safari and Chrome. */
   text-rendering: optimizeLegibility;
   /* Support for Firefox. */
   -moz-osx-font-smoothing: grayscale;
   /* Support for IE. */
   font-feature-settings: 'liga';
}

* {
   box-sizing: border-box;
}

ul {
   margin-bottom: 0;
   padding-left: 0;
}

li {
   list-style-type: none;
}

a,
a:hover {
   text-decoration: none;
}

.loading {
   padding: 20px;
   position: absolute;
   font-size: 18px;
   color: #7b7b7b;
   left: calc(50% - 26px);
   top: calc(50% - 30px);
}
.hide {
   display: none;
}
.btn-active {
   background-color: $primary-background;
   color: $white-color;
}
