
@import '../Index.scss';

.providerWrapper {
    padding: 10px;
    .dropdownButton {
        padding: 10px;
    }
    .dropdownButton {
        background-color: $secondary-background;
        color: $white-color;
        font-family: avenirRoman;
        margin-bottom: 4px;
    }
    .validateAndWrapper {
        margin-top: 20px;
        .termsAndConditions {
            margin-right: 10px;
            width: 70%;
            input {
                margin: 0 10px;
            }
        }
        .sendContainer {
            width: 30%;
            .sendButton {
                font-weight: bold;
                display: block;
                float: right;
                margin-right: 10px;
            }
        }
        .acceptTerms {
            line-height: 1.3;
        }
        .btn-active {
           background-color: $secondary-background;
           color: $white-color;
        }
    }
    .personalDataWrapper,
    .professionalDataWrapper,
    .HolidaysDataWrapper,
    .termsAndConditions {
        color: $special-grey;
    }
}
