
$header-background: #373e46;
$footer-background: #373e46;
$modal-back: #5a5a5a;
$white-color: #fff;

// Gray
$extreme-light-gray: #f3f3f3;
$light-gray: #e3e7f2;
$middle-gray: #9a9fa2;
$dark-gray: #373e46;
$circle-gray: #6c6c6d;
$hover-gray: #e6e6e6;

// Blue
$deep-blue: #2f6ba7; 
$deep-blue-b: #1976d2; 
$light-blue: #bacada; 
$blue-highlight: #3caea4;
$head-blue: #2d758d;
$body-blue: #81adba;
$body-light-blue: #e3e7f2;
$circle-blue: #508a9e;
$main-blue: #2196f3;

// Green
$deep-green: #669933; 
$light-green: #a0c57b; 

// Red
$deep-red: #cf4917; 
$light-red: #ff867d; 

// Orange
$deep-orange: #ff9933; 
$light-orange: #ffb56b; 

// Brown
$deep-brown: #eccb6d; 
$light-brown: #eae6de; 
$head-brown: #d1b284;
$body-brown: #e2d1b7;
$body-dark-brown: #d1b284;
