
/* Colors */

$primary-color: #42a5f5;

$primary-background: #42a5f5;
$secondary-background: #3e72ff;
$dark-blue: #0465bd;

$third-blue: #7fafcb;

$white-color: #fff;

$grey-navigation-color: #A3BDCC;
$grey-body-background: #f5f5f5;
$special-grey: #6c757d;
$data-grey: #b3b3b3;
$lighter-grey: #b6b6b6;
$grey-extreme-light: #e4e4e4;

$text-dark: #6f6f6f;
$text-light: #7b7b7b;

$green-high: #00e676;
$green-low: #deffb3;

$red-high: #ef5350;
$red-deep: #943939;

$yellow-high: #ffcc00;
$orange-high: #ff9933;

/* Shadows */

$main-shadow: 0 1px 4px rgba(239, 239, 239, 0.16), 0 1px 4px rgba(0,0,0,.23);
