
////////////////
/* Visby Font */
////////////////
  
@font-face {
    font-family: visbyRegular;
    src: url(../fonts/Webfont/VisbyRoundCF-Regular.eot);
    src: url(../fonts/Webfont/VisbyRoundCF-Regular.eot?#iefix) format('embedded-opentype'),
         url(../fonts/Webfont/VisbyRoundCF-Regular.woff) format('woff');
}

@font-face {
    font-family: visbyMedium;
    src: url(../fonts/Webfont/VisbyRoundCF-Medium.eot);
    src: url(../fonts/Webfont/VisbyRoundCF-Medium.eot?#iefix) format('embedded-opentype'),
         url(../fonts/Webfont/VisbyRoundCF-Medium.woff) format('woff');
}

@font-face {
    font-family: visbyLight;
    src: url(../fonts/Webfont/VisbyRoundCF-Light.eot);
    src: url(../fonts/Webfont/VisbyRoundCF-Light.eot?#iefix) format('embedded-opentype'),
         url(../fonts/Webfont/VisbyRoundCF-Light.woff) format('woff');
}
  
@font-face {
    font-family: visbyHeavy;
    src: url(../fonts/Webfont/VisbyRoundCF-Heavy.eot);
    src: url(../fonts/Webfont/VisbyRoundCF-Heavy.eot?#iefix) format('embedded-opentype'),
         url(../fonts/Webfont/VisbyRoundCF-Heavy.woff) format('woff');
}

@font-face {
    font-family: visbyExtraLight;
    src: url(../fonts/Webfont/VisbyRoundCF-ExtraLight.eot);
    src: url(../fonts/Webfont/VisbyRoundCF-ExtraLight.eot?#iefix) format('embedded-opentype'),
         url(../fonts/Webfont/VisbyRoundCF-ExtraLight.woff) format('woff');
}

@font-face {
    font-family: visbyExtraBold;
    src: url(../fonts/Webfont/VisbyRoundCF-ExtraBold.eot);
    src: url(../fonts/Webfont/VisbyRoundCF-ExtraBold.eot?#iefix) format('embedded-opentype'),
         url(../fonts/Webfont/VisbyRoundCF-ExtraBold.woff) format('woff');
}

@font-face {
    font-family: visbyDemiBold;
    src: url(../fonts/Webfont/VisbyRoundCF-DemiBold.eot);
    src: url(../fonts/Webfont/VisbyRoundCF-DemiBold.eot?#iefix) format('embedded-opentype'),
         url(../fonts/Webfont/VisbyRoundCF-DemiBold.woff) format('woff');
}

@font-face {
    font-family: visbyBold;
    src: url(../fonts/Webfont/VisbyRoundCF-Bold.eot);
    src: url(../fonts/Webfont/VisbyRoundCF-Bold.eot?#iefix) format('embedded-opentype'),
         url(../fonts/Webfont/VisbyRoundCF-Bold.woff) format('woff');
}
