
/* Background */
$primary-background: #282c34;
$lighter-dark: #495057;

/* Colors */
$primary-color: #42a5f5;
$header-color: #0071F2;
$secondary-background: #1565c0; 
$whater-blue: #4fa1d1;
$deep-blue: #265985;
$deep-blue-b: #0083E2; 
/* Buttons */
$blue-button: #42A5F6;

$white-color: #fff;
$gray-font: #696969;
$extra-gray:#a8c3dc;
$gray-navigation-color: #C6DBE8;
$gray-body-background: #EBEBEB;
$special-grey: #6c757d;
$modal-back: #5a5a5ac9;

$text-dark: #6f6f6f;
$text-light: #bebebe;

$buttons-green: #2bbbad;
$green-uma: #36a853;
$green-low: #deffb3;

$pink: #dc69a9;
$red-high: #ef5350;
$red-low: #deffb3;

$yellow-high: #ffcc00;
$orange-high: #ff9933;


/* Shadows */
$main-shadow: 0 1px 4px rgba(239, 239, 239, 0.16), 0 1px 4px rgba(0,0,0,.23);
$general-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
$large-modal-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
