
@font-face {
  font-family: MaterialIcons;
  src: url('https://fonts.gstatic.com/s/materialicons/v47/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2');
}

/////////////////
/* Avenir Font */
/////////////////

@font-face {
  font-family: avenirRoman;
  src: url(../fonts/AvenirLTStd-Roman.otf);
}

@font-face {
  font-family: avenirBook;
  src: url(../fonts/AvenirLTStd-Book.ttf);
}
  
////////////////
/* Visby Font */
////////////////
  
@font-face {
  font-family: visbyRegular;
  src: url(../fonts/Visby/Webfont/VisbyRoundCF-Regular.eot);
  src: url(../fonts/Visby/Webfont/VisbyRoundCF-Regular.eot?#iefix) format('embedded-opentype'),
       url(../fonts/Visby/Webfont/VisbyRoundCF-Regular.woff) format('woff');
}

@font-face {
  font-family: visbyMedium;
  src: url(../fonts/Visby/Webfont/VisbyRoundCF-Medium.eot);
  src: url(../fonts/Visby/Webfont/VisbyRoundCF-Medium.eot?#iefix) format('embedded-opentype'),
       url(../fonts/Visby/Webfont/VisbyRoundCF-Medium.woff) format('woff');
}

@font-face {
  font-family: visbyLight;
  src: url(../fonts/Visby/Webfont/VisbyRoundCF-Light.eot);
  src: url(../fonts/Visby/Webfont/VisbyRoundCF-Light.eot?#iefix) format('embedded-opentype'),
       url(../fonts/Visby/Webfont/VisbyRoundCF-Light.woff) format('woff');
}

@font-face {
  font-family: visbyHeavy;
  src: url(../fonts/Visby/Webfont/VisbyRoundCF-Heavy.eot);
  src: url(../fonts/Visby/Webfont/VisbyRoundCF-Heavy.eot?#iefix) format('embedded-opentype'),
       url(../fonts/Visby/Webfont/VisbyRoundCF-Heavy.woff) format('woff');
}

@font-face {
  font-family: visbyExtraLight;
  src: url(../fonts/Visby/Webfont/VisbyRoundCF-ExtraLight.eot);
  src: url(../fonts/Visby/Webfont/VisbyRoundCF-ExtraLight.eot?#iefix) format('embedded-opentype'),
       url(../fonts/Visby/Webfont/VisbyRoundCF-ExtraLight.woff) format('woff');
}

@font-face {
  font-family: visbyExtraBold;
  src: url(../fonts/Visby/Webfont/VisbyRoundCF-ExtraBold.eot);
  src: url(../fonts/Visby/Webfont/VisbyRoundCF-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(../fonts/Visby/Webfont/VisbyRoundCF-ExtraBold.woff) format('woff');
}

@font-face {
  font-family: visbyDemiBold;
  src: url(../fonts/Visby/Webfont/VisbyRoundCF-DemiBold.eot);
  src: url(../fonts/Visby/Webfont/VisbyRoundCF-DemiBold.eot?#iefix) format('embedded-opentype'),
       url(../fonts/Visby/Webfont/VisbyRoundCF-DemiBold.woff) format('woff');
}

@font-face {
  font-family: visbyBold;
  src: url(../fonts/Visby/Webfont/VisbyRoundCF-Bold.eot);
  src: url(../fonts/Visby/Webfont/VisbyRoundCF-Bold.eot?#iefix) format('embedded-opentype'),
       url(../fonts/Visby/Webfont/VisbyRoundCF-Bold.woff) format('woff');
}
