/* Colors */
$primary-color: #42a5f5;
$header-color: #0071F2;
$primary-background: #42a5f5;
$secondary-background: #1565c0; 
$whater-blue: #4fa1d1;
$deep-blue: #265985;
$deep-blue-b: #0083E2; 
/* Buttons */
$blue-button: #42A5F6;

$white-color: #fff;
$dark-blue: #0465bd;
$gray-font: #696969;
$extra-gray:#a8c3dc;
$gray-navigation-color: #C6DBE8;
$gray-body-background: #EBEBEB;
$special-grey: #6c757d;
$modal-back: #5a5a5a;
$data-grey: #b3b3b3;
$border-light: #cacaca;
$clear-blue: #7fafcb;

$red-deep: #943939;

$grey-navigation-color: #A3BDCC;
$grey-body-background: #F5F5F5;
$special-grey: #6c757d;
$data-grey: #b3b3b3;


$text-dark: #6f6f6f;
$text-light: #8a8a8a;

$green-high: #00e676;
$green-low: #deffb3;

$pink: #dc69a9;
$red-high: #ef5350;
$red-low: #deffb3;

$yellow-high: #ffcc00;
$orange-high: #ff9933;

/* Transport Styles */
$third-blue: #7fafcb;
$lighter-grey: #b6b6b6;
$grey-extreme-light: #e4e4e4;

/* Shadows */
$main-shadow: 0 1px 4px rgba(239, 239, 239, 0.16), 0 1px 4px rgba(0,0,0,.23);

/* Borders */

$regular-borders: 5px;
$rounded-elements: 100px;