
/* Colors */

$white-color: #fff;
$paginator-regular: #ffca59;
$paginator-active: #ffb81e;
$paginator-disabled: #ffe2a3;
$light-blue: #80d0eb;

/* Text */

$buttons-green: #2bbbad;
$text-dark: #6f6f6f;

/* Shadows */

$main-shadow: 0px 4px 5px rgba(114, 142, 163, 0.25);
