
@mixin background (
  $background-image: url("../../assets/back-final.jpeg"),
  $background-repeat: no-repeat,
  $background-size: cover,
  $background-position: center center ) {
    background-image: $background-image;
    background-repeat: $background-repeat;
    background-size: $background-size;
    background-position: $background-position;
    @content;
}
