
@font-face {
  font-family: avenirRoman;
  src: url('/fonts/AvenirLTStd-Book.ttf');
}

@font-face {
  font-family: avenirBook;
  src: url('/fonts/AvenirLTStd-Light.woff');
}

@font-face {
  font-family: MaterialIcons;
  src: url('https://fonts.gstatic.com/s/materialicons/v47/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2');
}
