/* Colors */
$primary-color: #42a5f5;
$header-color: #0071F2;
$primary-background: #42a5f5;
$secondary-background: #1565c0;
$dark-blue: #0465bd;

$white-color: #fff;
$gray-font: #696969;

$grey-navigation-color: #A3BDCC;
$gray-navigation-color: #A3BDCC;
$gray-body-background: #EBEBEB;
$special-grey: #6c757d;
$modal-back: #5a5a5a;

$text-dark: #6f6f6f;
$text-light: #8a8a8a;
$border-light: #cacaca;
$lighter-grey: #b6b6b6;

$green-high: #00e676;
$green-low: #deffb3;

$red-high: #ef5350;
$red-low: #deffb3;

$yellow-high: #ffcc00;
$orange-high: #ff9933;

/* MEDAPOINTMENTS VARS */
$whater-blue: #4fa1d1;
$deep-blue: #265985;
$deep-blue-b: #1976d2;
/* Shadows */
$main-shadow: 0 1px 4px rgba(239, 239, 239, 0.16), 0 1px 4px rgba(0,0,0,.23);

/* Buttons */
$blue-button: #42A5F6;