
@import './global/Vars.scss';
@import './global/Fonts.scss';

@media (min-width:220px)  {
   body {
      margin: 0;
      padding: 0;
      font-family: avenirBook, Helvetica !important;
      background-color: $white-color;
   }
   
   .bg-white {
      background: $white-color;
   }
   #root {
      min-height: 95vh;
   }
   
   .App {
      height: 95vh;
   }
   
   .route {
      height: 100%;
      overflow: scroll;
   }
   
   .nopadding {
      padding: 0 !important;
      margin: 0 !important;
   }
   
   .remove-paddings {
      padding-right: 0px !important;
   }
   
   .cal-fullheight {
      height: 100%;
      .specialties-list-container {
         width: 100%;
         height: 100%;
         overflow-y: scroll;
         background: $gray-body-background !important;
      }
   }

   .ready-income {
      position: absolute;
      left: 0;
      top: calc(50% - 75px);
      width: 100%;
      color: $text-light;
      padding: 0 68px;
      .checkContainer {
         margin:10px 0;
         .iconAdjust {
            color: $primary-color;
            margin: auto;
            height: 38px;
            width: 100%;
         }
      }
   }

   .container {
      padding-left: 0;
      padding-right: 0;
      h3 {
         text-align: center;
      }
      .buttonContainer {
         .button-reset {
            width: auto !important;
            font-size: 1.1rem;
            bottom: 10px;
            left: 10px;
            right: 10px;
            font-weight: bold;
            position: absolute;
            margin: 0 !important;
            padding: 15px 0;
            border-radius: 5px;
            color: $white-color;
            background: $blue-button;
            .disabled {
               background: $gray-body-background;
            }
         }
      }
   }
   
   .container-calendar {
      height: 85vh !important;
   }
   
   * {
      box-sizing: border-box;
   }
   
   ul {
      margin-bottom: 0;
      padding-left: 0;
   }
   
   li {
      list-style-type: none;
   }
   
   a,
   a:hover {
      text-decoration: none;
   }
   
   .btn-blue-lg {
      width: 90% !important;
      font-size: 1.1rem;
      padding: 15px 0;
      margin: 5px 5%;
      border-radius: 5px;
      color: $white-color;
      background: $blue-button;
      .disabled {
         background: $gray-body-background;
      }
   }
   .btn-alert {
      padding: 5px;
      background: $red-high;
   }
   
   .btn:hover {
      color: #fff;
      text-decoration: none;
   }

   input[type=file] {
      color: $white-color !important;
      background: $blue-button;
   &::-webkit-file-upload-button {
         background: rgba(163, 189, 204, 0);
         border: none;
         color: $white-color;
       }
   }
   
   .btn:active {
      background: $primary-color;
   }
   .close-sesion {
      color: $blue-button;
      cursor: pointer;
   }
   .error-msg {
      color: $red-high;
      padding: 15px;
      font-size: 1rem;
      line-height: 1.2rem; 
   }
   .warning-push {
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16), 0 3px 6px 5px rgba(0, 0, 0, 0.23);
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: $red-high;
      color: $white-color;
      text-align: center;
      padding: 10px;
      z-index: 6;
   }
   .emerlogo {
      max-width: 120px;
      margin-top: 5%;
      margin-left: calc(50% - 60px);
      /* display: none; */
   }
   .link {
      color: $blue-button;
   }
   .jumpin {
      animation: Jumpin 1s;
   }
   @keyframes Jumpin {
      0% { opacity: 0; }
      50% { opacity: 0; }
      100% { opacity: 1; }
     }
}

@media (min-width:320px)  {
   %shadows {
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
   }
   
   .header-container {
      @extend %shadows;
      position: sticky;
      z-index: 9;
      top: 0;
      background-color: $header-color;
      display: flex;
      justify-content: flex-end;
      width: 100%;
      height: 52px;
      padding: 5px 10px;
      margin-bottom: 0;
      color: $white-color;
      font-size: 1.5rem;
      a {
         color: $white-color;
      }
      .logo-container {
         .logo {
            height: 40px;
            width: 40px;
            border-radius: 50px;
            margin-left: 6px;
            background-size: cover;
            background-color: $white-color;
         }
      }
      img {
         width: 100%;
      }
      .header-title {
         display: flex;
         justify-content: center;
         flex-direction: column;
         text-align: center;
         padding: 5px 15px;
         color: $white-color;
         font-size: 1.5rem;
         letter-spacing: 0.05rem;
         animation: fadeIn;
      }
   }
   .subheader-container {
      box-shadow: 0 1px 0px rgba(109, 109, 109, 0.16), 0 3px 6px rgba(173, 173, 173, 0.23);
      width: 100%;
      margin-bottom: 22px;
      height: 45px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-weight: bold;
      font-size: 1.2rem;
      color: $gray-navigation-color;
      text-align: center;
      background: $white-color;
   }

   .dossier-date,
   .dossier-text {
      color: $text-light;
   }

   /* REGISTRATION FORM */
   .register-form {
      z-index: -1;
      .form-label {
         margin-bottom: 5px;
         font-size: 0.9rem;
         color: $gray-font;
         width: 100%;
      }
      .addressLabel,
      .sexLabel,
      .birthLabel {
         margin-top: 12px;
      }
      .sexLabel,
      .birthLabel {
         margin-bottom: 10px;
      }
      .sexContainer {
         select {
            width: -webkit-fill-available;
         }
      }
      .birthInputContainer {
         input {
            width: 25%;
         }
         input:last-child {
            width: 40%;
         }
      }
      #date,
      #gender {
         color: #999;
      }
      .form-input {
         border: 1px solid $border-light;
         padding: 1rem;
         width: inherit;
         border-radius: 5px;
         margin: 6px 0 8px 0;
      }
      .form-mid-input {
         border: 1px solid $border-light;
         border-radius: 5px;
         height: 58px !important;
         padding: 0.5rem;
         width: 44vw;
         background-color: $white-color;
      }
      .sendButtonStyles {
         width: 100%;
         background-color: $primary-color;
         color: $white-color;
         border-radius: 5px;
         padding: 12px;
         margin: 20px 0 5px 0;
         font-weight: bold;
         font-size: 20px;
      }
   }

   .tab-container {
      .btn-secondary {
         margin: 10px;
         width: 124px;
         background-color: $gray-navigation-color;
         border: none;
         padding: 10px;
      }
      .active {
         background-color: $primary-color;
      }
   }

   /* MODULES CONTAINER */
   .modules-container {
      display: flex;
      flex-wrap: wrap;
      margin-top: 8px;
      position: fixed;
      padding-top: 0%;
      height: 82%;
      background: #fff;
      .lang-text {
         color: $whater-blue;
         padding: 0 11px;
         margin-left: 20px;
      }
      .module-button:hover {
         background: $header-color;
      }
      .disabled-module {
         background: $gray-body-background !important;
      }
      .lighter-module {
         background: $whater-blue !important;
      }
      /* .lighter-module {
         background: $white-color !important;
         border: 1px solid $border-light;
         .module-ico {
            color: $deep-blue-b !important;
         }
         .module-name {
            color: $deep-blue-b !important;
         }
      } */
      .module-button {
         width: 45%;
         height: 23%;
         border-radius: 5px;
         padding-top: 6%;
         line-height: 1.2;
         margin: 0 1% 0 3%;
         text-align: center;
         background: $blue-button;
         .module-ico {
            line-height: 2rem;
            font-size: 2rem;
            color: $white-color;
            margin-bottom: 7px;
         }
         .module-title {
            font-size: 3vh;
            margin-bottom: 0;
         }
         .module-name {
            color: #fff;
            a {
               color: #fff;
            }
         }
      }
   }


   .modules-list {
      border: 0;
      display: flex;
      justify-content: flex-start;
      text-align: left;
      max-height: 100%;
      min-height: 50px;
      line-height: 1.2rem;
      margin: 1% 2.5%;
      width: 95% !important;
      background-color: $white-color;
      border: 1px solid $gray-navigation-color;
      .module-ico {
         border-right: 1px solid $gray-navigation-color;
         width: 10vh;
         height: 10vh;
         font-size: 2rem;
         padding-top: 15px;
         color: $deep-blue;
         display: flex;
         text-align: center;
         justify-content: center;
      }
      .module-name {
         font-weight: bolder;
         font-size: 1rem;
         color: $deep-blue;
         display: flex;
         justify-content: center;
         flex-direction: column;
         padding-left: 20px;
      }
   }

   .modules-list:hover {
      .module-name, .module-ico{
         color: $white-color !important;
      }
      background-color: $gray-navigation-color;
   }

   .loading {
      padding: 20px;
      position: absolute;
      font-size: 18px;
      color: #7b7b7b;
      left: calc(50% - 26px);
      top: calc(50% - 30px);
      z-index: 5;
   }

   /* ======================================= HEADER ================================
   ================================================================================== */ 
   .doctor-profile {
      padding: 5px;
      img {
         width: 30px;
         background: $white-color;
         border-radius: 50%;
         margin-right: 20px;
      }
      p {
         font-size: 1.2rem;
         margin-bottom: 0;
      }
   }

   /* ======================================= SPECIALTY ================================
   ================================================================================== */ 

   .successPage {
      .generalBack {
         background: $gray-body-background;
      }
      .whatsappIcon,
      .whatsappIcon:before {
         font-size: 40px;
         color: $secondary-background;
      }
      .succes-confirm-text {
         font-size: 0.7rem;
      }
   }

   .specialty-list {
      border: 0;
      display: flex;
      min-height: 20px;
      margin: 2% 2.5%;
      width: 95% !important;
      background-color: $white-color;
      color: $gray-font;
      justify-content: center;
      padding: 10px;
      font-weight: bolder;
      text-align: left;
      border-radius: 15px;
      text-transform: capitalize;
   }

   .specialty-name {
      color: $gray-font !important;
   }

   .appoint-detail {
      text-align: left;
      text-transform: uppercase;
      margin-left: 0px !important;
      padding-left: 0px !important;
   }

   .appoint-remove {
      margin: 5% 15px;
      padding-top: 0.8%;
      color: $red-high;
      font-weight: bolder;
      height: 30px;
      width: 30px;
      border: 3px solid $red-high;
      border-radius: 50%;
      text-align: center;
   }

   .finish-att-btn {
      position: fixed;
      bottom: 30px;
      right: 40px;
   }


   /* ================================= VIDEOCALL ====================================
   ================================================================================== */ 

   .PatientContainerMedia {
      position: absolute;
      bottom: 10px;
      right: 10px;
      width: 80px;
      height: 80px;
      z-index: 2;
      overflow: hidden;
      background: #A3BDCC;
      border-radius: 50%;
      border: 2px solid $blue-button;
   }

   .DoctorContainerMedia {
      .awaiting-doctor {
         text-align: center;
         margin-top: 50px;
         color: $gray-font;
         font-weight: 400;
      }
      overflow: hidden;
   }
   
   .OT_archiving-light-box {
      display: none !important;
   }

   .OTSubscriberContainer {
      max-height: 100vh;
      max-width: 100vw;
      height: 100% !important;
      width: 100% !important;
      bottom: 0;
      z-index: 0;
      top: 0px;
      overflow: hidden;
      background: $deep-blue;
   }

   .OTPublisherContainer {
      position: absolute;
      width: 100% !important;
      height: 110px;
      z-index: 2;
      background: $gray-navigation-color;
   }

   .OT_subscriber {
      position: absolute !important;
   }

   .OT_publisher {
      width: 20vw;
      height: 100%;
   }

   .disconnect-btn {
      position: absolute;
      border-radius: 50%;
      bottom: 20px;
      right: 100px;
      background: $red-high;
      color: #fff;
      z-index: 3;
   }

   /* ================================= VMD =========================================
   ================================================================================== */ 
   .vmd-question-card {
      background: $white-color;
      width: 95%;
      height: 80%;
      padding: 10px;
      .vmd-question-message {
         font-size: 1.2rem;
         text-align: center;
      }
      input {
         width: 100%;
      }
      
      .vmd-add-icon {
         position: absolute;
         right: 35px;
         margin-top: 10px;
         font-size: 1.5rem;
         color: $blue-button;
      }
      .vmd-select-icon {
         position: absolute;
         right: 35px;
         font-size: 1.4rem;
         color: $white-color;
      }
      .btn-patient {
         width: 100% !important;
         font-size: 1.0rem;
         margin-bottom: 5px;
         color: $white-color;
         background: $blue-button;
      }
      .btn-send {
         margin-top: 5px;
         color: $white-color;
         background: $blue-button;
      }
      .vmd-doctor-image {
         margin-left: 25%;
         width: 150px;
         height: 150px;
         overflow: hidden;
         img {
            width: 100%;
         }
      }
      .vmd-doctor-data {
         margin-top: 20px;
         line-height: 1.2rem;
         text-align: center;
         p {
            margin: 5px;
         }
      }
   }

   /* ========================== ASSESTMENT =========================================
   ================================================================================== */ 


   .tags-container {
      overflow-x: auto;
      white-space: nowrap;
      display: flex;
      height: auto;
      direction: ltr;
      .tag {
         color: $white-color;
         background: $gray-navigation-color;
         height: 25px;
         min-width: 100px;
         max-width: 150px;
         font-size: 0.8rem;
         min-height: 40px;
         border-radius: 5px;
         line-height: 1rem;
         margin: 3px;
         padding: 5px;
         display: flex;
         .tag-text {
            width: 60%;
            line-height: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            word-wrap: break-word;
            white-space: initial;
         }
         .tag-delicon {
            width: 38%;
            margin-top: 4px;
            padding-left: 9px;
            font-size: 1.3rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
         }
      }
      .tag-empty {
         color: $gray-navigation-color;
         padding: 5px;
         width: 100%;
         line-height: 3;
         max-height: 50px;
         font-size: 0.8rem;
         min-height: 40px;
         border-radius: 5px;
      }
   }

   .symptom-list-container {
      ::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 7px;
      }
      ::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: rgba(0,0,0,.5);
            -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
      }
      width: 100%;
      height: 60%;
      padding-bottom: 7px;
      overflow-y: scroll;
      background: $gray-body-background;
      .symptom-list {
         background: $white-color;
         margin: 6px 0 0 10px;
         padding: 9px 0 7px 15px;
         font-weight: 300;
         width: 95%;
         min-height: 20px;
         border-radius: 5px;
         border-radius: 15px;
         .symptom-text {
            width: 60%;
            color: $text-light;
         }
         .symptom-addicon {
            width: 15%;
            height: 24px;
            color: $primary-color;
            display: flex;
            flex-direction: column;
            justify-content: center;
         }
      }
   }

   /* ====================== RATINGS ================== */ 

   .ratings-container {
      padding: 20px;
      label {
         font-size: 1rem;
         color: $gray-font;
         margin: 20px 0 0 0;
      }
      textarea {
         margin-top: 20px;
         width: 100%;
         height: 20vh;
         color: $gray-font;
         padding: 10px;
         border: none;
         @extend %shadows;
      }
      svg {
         font-size: 1rem !important;
      }
   }

   /* ============================ DOSSIER ======================= */

   .dossier-container {
      line-height: 1.2rem;
      h2 {
         font-size: 1.2rem;
         text-align: center;
         background: $primary-color;
         color: $white-color;
         padding: 10px;
      }
      b {
         color: $deep-blue;
      }
      .dossier-att-info {
         padding: 6%;
         color: $gray-font;
      }
      .dossier-action-ico {
         background-color: $primary-color;
         color: $white-color;
         font-size: 2.3rem;
         width: 4.5rem;
         height: 4.5rem;
         margin-top: 50px;
         border-radius: 50%;
         text-align: center;
         padding: 15px 0;
         cursor: pointer;
      }
   }

   .myhistory-container {
      .myhistory-consultation {
         font-size: 1rem;
         background: $gray-navigation-color;
         margin: 0 0 6px 0;
         border-radius: 10px;
         padding: 10px;
         .consultContainer {
            font-weight: bold;
         }
         a {
            color: $white-color;
            .leftIcon {
               margin-right: 15px;
               svg {
                  height: 43px;
                  width: 33px;
               }
            }
         }
         p {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            margin-bottom: 0;
         }
      }
   }

   .profile-container {
      position: relative;
      p {
         margin: 0 20px;
      }
      .profile-section-title {
         color: $deep-blue;
      }
      .profile-edit {
         position: absolute;
         display: none;
         right: 20px;
         top: 0px;
         color: $deep-blue;
      }
      .profile-photo {
         display: flex;
         justify-content: center;
         flex-direction: column;
         text-align: center;
         height: 100%;
         vertical-align: middle;
         position: relative;
         background: #A3BDCC;
         border: 5px solid $blue-button;
         border-radius: 50%;
         margin: 15px 0 0 15px;
         width: 100px;
         height: 100px;
         overflow: hidden;
         z-index: 2;
         .profile-edit {
            color: $white-color !important;
            top: 40%;
            left: 40%;
         }
         &:hover {
            background: rgb(0, 78, 122);
         }
         .profile-nophoto {
            position: relative;
            width: 100%;
            color: $white-color;
            font-size: 3rem;
            &:hover {
               color: rgb(0, 78, 122);
            }
         }         
      }
      .profile-info {
         position: relative;
         margin-top: 25px;
         line-height: 1rem;
         p {
            margin-bottom: 5px;
         }
      }
      .section {
         position: relative;
         &:hover .profile-edit {
            display: block;
         }
      }
   }
   .notfound-container {
      padding: 10px;
      .notfound-code {
         font-size: 15vh;
         color: $primary-color;
         font-weight: bolder;
         margin: 0 20px;
      }
      .notfound-img {
         position: absolute;
         width: 30vh;
         right: 20px;
         top: 25%;
      }
      .notfound-img-sec {
         margin: 40px 30px;
      }
      .notfound-img-third {
         position: absolute;
         right: 40px;
         top: 55%;
      }
      .notFoundFooter {
         position: fixed;
         bottom: 15px;
         left: 0;
         .notfound-text {
            padding: 0 15px;
            margin-top: 15px;
            font-size: 1rem;
            font-weight: bolder;
            color: $gray-font;
         }
      }
   }

   .version {
      position: absolute;
      top: 5px;
      left: 10px;
      font-size: 0.8rem;
      z-index: 10;
      color: $gray-font;
   }
}

// @media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { 
   /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
   a.btn-blue-lg {
      font-size: 2rem;
   }
   .when-question {
      font-size: 2.3rem !important;
   }
   .header-title {
      font-size: 3rem !important;
   }
   .subheader-container {
      padding-top: 0px;
   }
   .subheader-title {
      font-size: 2rem !important;
      font-weight: bold;
   }
   .module-button {
      padding-top: 2% !important;
   }
   .question-title {
      font-size: 2rem;
   }
   .tag-empty {
      font-size: 1.5rem !important;
      max-width: 350px !important;
   }
   .tag {
      min-width: 250px !important;
      min-height: 70px !important;
      line-height: 1.8rem !important;
      .tag-text {
         font-size: 1.5rem;
      }
      svg {
         font-size: 3rem !important;
      }
   }
   .symptom-list {
      .symptom-text {
         font-size: 1.8rem;
      }
      svg {
         font-size: 2rem !important;
         margin-top: 5px !important;
      }
   }
   .module-ico {
      line-height: 2rem;
      font-size: 3rem !important;
      color: $white-color;
   }
   .module-title {
      margin-top: 20px;
      line-height: 2rem;
      font-size: 1.7rem !important;
   }
   .dinamic-time {
      font-size: 2.5rem !important;
   }
   .dinamic-reasons {
      input {
         font-size: 2rem !important;
         min-width: 700px;
      }
   }

   .dinamic-queue {
      p {
         font-size: 2rem;
      }
      .ico-queue {
         font-size: 9rem !important;
      }
      .ico-calling {
         font-size: 9rem;
      }
      .assessment-text {
         font-size: 2.1rem !important;
      }
      span {
         font-size: 2.5rem;
      }
      .no-more-questions {
         font-size: 2rem;
      }
   }

   #sessionStatus {
      text-align: center !important;
   }
   
   .PatientContainerMedia {
      position: absolute;
      bottom: 10px;
      right: 10px;
      width: 200px;
      height: 200px;
      z-index: 2;
      overflow: hidden;
      background: #A3BDCC;
      border-radius: 50%;
      border: 5px solid $blue-button;
   }
   .disconnect-btn {
      font-size: 4rem;
      bottom: 20px;
      right: 250px;
   }
   .OT_edge-bar-item {
      opacity: 1 !important;
      top: 0 !important;
      // height: 100% !important;
      button.OT_mute {
         position: absolute !important;
         bottom: 50px !important;
         right: 150px !important;
         width: 50px !important;
         
         background-size: cover !important;
      }
      .OT_bar {
         display: none !important;
         overflow: none;
      }
   }
   .OT_video-element {
      position: absolute;
      bottom: 0px;
   }
   .OTSubscriberContainer {
      max-height: 100vh;
      max-width: 100vw;
      height: 100% !important;
      width: 100% !important;
      bottom: 0;
      z-index: 0;
      top: 0px;
      overflow: hidden;
      background: $deep-blue;
   }

   .OTPublisherContainer {
      position: absolute;
      width: 100% !important;
      height: 310px;
      z-index: 2;
      background: $gray-navigation-color;
   }

   .ratings-container{ 
      font-size: 2rem;
      text-align: center;
      label, button {
         font-size: 2rem;
      }
      .star-ratings { 
         width: 500px;
         .star {
            font-size: 4rem !important;
         }
      }
   }
}

//@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
//@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
//@media (min-width:1281px) { /* hi-res laptops and desktops */ }